<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body background="C:\Users\brayo\Desktop\leap_with_faith_by_lemmewinks.jpg">
    <div class="navbar navbar-inverse navbar static-top">
        <div class="container">
            <a href="#" class="navbar-brand">THE KEJA ASAP<sup>TM</a>

            <button class="navbar-toggle" data-toggle="collapse" data target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse navHeaderCollapse">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" 
                           data-toggle="dropdown">City/Town<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"></a>Location</li>
                            <li><a href="#"></a>House type</li>
                            <li><a href="#"></a>Budget</li>
                        </ul>
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown">search by<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"></a>juja</li>
                            <li><a href="#"></a>kenyatta university</li>
                            <li><a href="#"></a>karen/rongai</li>
                            <li><a href="#"></a>ngara/chiromo/westlands</li>
                            <li><a href="#"></a>Thika</li>
                            <li><a href="#"></a>kabete</li>
                        </ul>
                    </li>
                    
                    <li><a href="#">Add property</a></li>
                    <li><a href="#">Agent</a></li>
                    <li><a href="#contact" data-toggle="modal">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <center>
                <h4>Keja Asap</h4>
                <p>Helping university students find accommodation easily</p>
            </center>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3><a href="" #>THE BEST EXPERIENCE</a></h3>
                    <p>In kenyan univeristies today, its always a headache trying to find the most convient accommodation for them.some ending up staying in eithr very expensive house or houses with poor living conditions</p>
                    <a href="#" class="btn btn-default">Read more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom">

        <div class="container">
            <p class="navbar-text pull-left">we got your house search hustles sorted</p>
            <a href="http://youtube.com/codersguide" class="navbar-btn btn-danger btn pull-right">subscribe on YouTube</a>
        </div>
    </div>

    <div class="modal fade" id="contact" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal">
                    <div class="modal-header">
                        <h4>contact the site</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <lable for="contact-name" class="col-lg-2 control-label">Name:</lable>
                            <div class="col-lg-10">

                                <input type="text" class="form-control" id="contact-name" placeholder="full Name">

                            </div>

                        </div>

                    </div>
                    <div class="form-group">

                        <lable for="contact-email" class="col-lg-2 control-label"> Email:</lable>
                        <div class="col-lg-10">

                            <input type="email" class="form-control" id="contact-email" placeholder="you@gmail.com">

                        </div>

                        <div class="form-group">

                            <lable for="contact-msg" class="col-lg-2 control-label">Message:</lable>
                            <div class="col-lg-10">

                                <textarea class="form-control" rows="8"></textarea>

                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default" data-dismiss="modal">Close</a>
                        <button class="btn btn-primary" type="submit">send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Keja Asap</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
